Weather data to be converted into html using pandas

In [2]:
import pandas as pd
import os

In [3]:
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '16px'),
  ('text-align', 'left'),
  ('font-weight', 'bold'),
  ('color', '#25100C'),
  ('background-color', '#FCF9F9')
  
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('text-align', 'left'),  
  ('font-size', '13px'),
  ('border', '1px solid black')  
  ]

table_props=[
    ('border', '1px solid black')
]
# Set table stylesborder: 1px solid black
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props),
  dict(selector="table", props=table_props)
  ]

In [4]:
### Reading the data from the csv file and initializing a dataframe.
### Rename the column of the dataframe and set the index correctly.

data=pd.read_csv("weather_data.csv")
data=data.rename(columns={"Unnamed: 0": "City_ID", "Humidity":"Humidity %"})
data.drop('City_ID', axis=1, inplace=True)
#data.set_index('City',  inplace=True)

data.head(10)

#### HTML page rendered from to_html looks ugly ############################
#### Hence using using a small css on the dataframe to style it.
#The df.render() does a decent job and then saving it to a html file ##########

#data.to_html('data_from.html',bold_rows=True,index=False,header=True, border=1)

,City,Cloudiness,Country,Date,Humidity %,Latitude,Longitude,MaxTemperature,WindSpeed
0,jamestown,1.0,AU,2019-07-02 23:14:28,85.0,-33.21,138.60,10.99,5.15
1,sao filipe,97.0,CV,2019-07-02 23:14:28,81.0,14.90,-24.50,23.19,7.94
2,geraldton,75.0,CA,2019-07-02 23:14:15,32.0,49.72,-86.95,28.00,3.10
3,east london,46.0,ZA,2019-07-02 23:14:29,33.0,-33.02,27.91,15.29,4.30
4,atuona,5.0,PF,2019-07-02 23:14:29,78.0,-9.80,-139.03,26.79,5.85
5,airai,80.0,TL,2019-07-02 23:14:29,60.0,-8.93,125.41,25.29,1.17
6,punta arenas,90.0,CL,2019-07-02 23:14:29,92.0,-53.16,-70.91,1.00,5.10
7,kruisfontein,54.0,ZA,2019-07-02 23:12:33,56.0,-34.00,24.73,14.49,3.57
8,svetlogorsk,90.0,RU,2019-07-02 23:14:30,100.0,53.14,59.15,14.00,1.37
9,darnah,0.0,LY,2019-07-02 23:14:30,77.0,32.77,22.64,24.59,3.17

In [5]:
newdata=(data.style
    #.format({'Humidity': "{:0.1%}"})
    .set_table_styles(styles))

print(newdata)
newdata.render()

with open('data_from_render.html', 'w') as file:
    file.write(newdata.render())

<pandas.io.formats.style.Styler object at 0x0000017DC569EF28>